<label>Server Name</label>
<input type="text" class="form-control"  [(ngModel)]="serverName" (input)="onServerNameChanged($event)">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()" >Add Server</button>
<!--<p>{{serverCreation}}</p>-->
<p *ngIf="isServerCreated;else noserver">Server was created , server name is {{serverName}}</p>

<ng-template #noserver>
  <p>No server was created</p>
</ng-template>
<button type="text" class="btn btn-primary" (click)="onClickDisplayButton()">{{displayOrHideDetailsButton}}</button>
<app-click *ngFor="let click of clicks"></app-click>
<p *ngIf="isDisplayDetails">Secrete Password = tuna</p>
<br/>
<label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName" (input)="onUserNameChanged($event)">
<p>{{userName}}</p>
<button class="btn btn-primary" [disabled]="isResetUserName" (click)="onResetUserName()">Reset username</button>
<app-server *ngFor="let server of servers">
</app-server>






